{% extends "core/base.html" %}

{% block title %} Newsfeed {% endblock %}

{% block content %}

	<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="header"> <h2>Newsfeed</h2> </div>
			</div>

			<div class="col-sm-1"> </div>
	</div>
	{% for post in object_list %}

		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">

				<div class="panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-10"> <a href="{% url 'feed:detail' post.id %}"> <h2> {{ post.title }} </h2> </a> </div>
							<div class="col-sm-1 post-rating" align="right"> <b> {{ post.rating }} </b> </div>
							<div class="col-sm-1" align="right">  {% include 'feed/rate_form.html' %}  </div>
						</div>
					</div>
					<div class="panel-body">
						<p> {{ post.summary | safe }} </p>
					</div>
				</div>

			</div>
			<div class="col-sm-1"></div>
		</div>

	{% endfor %}

{% endblock %}