{% extends "core/base.html" %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

	<div class="post">
		<table> 
			<tr>
				<th width=60> <form action="/rate/{{ post.id }}" method="post"> 
				{% csrf_token %} 
				<button type="submit" class="btn" name="mark" value="1"> + </button>
				<button type="submit" class="btn" name="mark" value="-1"> -- </button>
			</form> </th>
				<th align="left"> <h2> {{post.title}} </h2> </th>
			</tr>
			<tr> 
				<td colspan="3"> <p> {{post.inDetails}} </p> </td>  
				<td> </td>
			</tr>
		</table>
		
	</div>

{% endblock %}