<div class="row">
	<div class="col-sm-1" align="center">
		{% if user.is_staff and post.author == user %}
		<p> </p>
			<form method="post" class="form-inline">
				{% csrf_token %}
				<input type="text" name="mypost" value="{{post.id}}" hidden>
				<div class="dropdown">
					<button class="btn btn-link btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<button formaction="delete" class="btn btn-link">
								<span class="glyphicon glyphicon-remove">  Удалить</span>
							</button>
						</li>
						<li>
							<button formaction="edit-post" class="btn btn-link">
								<span class="glyphicon glyphicon-pencil">  Редактировать</span>
							</button>
						</li>
					</ul>
				</div>
			</form>
		{% endif %}
	</div>
	<div class="col-sm-9">

		<a href="{% url 'feed:detail' post.id %}"> <h2 style="margin:8"> {{ post.title }} </h2> </a>
		<h6 class="text-muted" style="margin:0; margin-left:8"> {{post.pub_time}} </h6>
	</div>
	<div class="col-sm-1 post-rating" align="right"> <b> {{ post.rating }} </b> </div>
	<div class="col-sm-1" align="right">  {% include 'feed/rate_form.html' %}  </div>
</div>