{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

    <script src="{% static 'core/js/feed.js' %}"></script>
	<script src="{% static 'core/js/post.js' %}"></script>
	<div class="row">
		<div class="post panel panel-default" data-post-id="{{post.id}}">
			<div class="panel-heading blocked post-title">
				{% include 'feed/post_header.html' %}
			</div>

			<div class="panel-body"> <p> {{post.in_details | safe}} </p> </div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="comments panel-group">
				{% for comment in comments %}
					{% include 'feed/comment.html' %}
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	{% if user.is_authenticated %}
		{% include 'feed/add_comment_form.html' %}
	{% endif %}

{% endblock %}