{% if user.is_authenticated %}
    <button
            type="button"
            class="plus-button btn btn-block {% if user in post.liked_by %}btn-success{% else %}btn-default{% endif %}"
            name="mark"
            data-rate-url="{% url 'feed:rate' pk=post.id %}"
            data-post-id="{{ post.id }}">
        <b> + </b>
    </button>
    <button
            type="button"
            class="minus-button btn btn-block {% if user in post.disliked_by %}btn-danger{% else %}btn-default{% endif %}"
            name="mark"
            data-rate-url="{% url 'feed:rate' pk=post.id %}"
            data-post-id="{{ post.id }}">
        <b> - </b>
    </button>
{% endif %}
