.navbar-inverse {
	position: fixed !important;
	z-index: 100;
	width: 100%;
	opacity: 0.9;
	height: 120px;
}

.btn-primary {
	background-color: blue;
}

.content {
	padding-top: 130px;
	color: DimGray;
	padding-left: 20px;
	padding-right: 20px;
}

.brand {
	padding-right: 40px;
	font-family: "Trebuchet MS", monospace;
}

.user-info {
	padding: 10px;
}

.post {
	background-color: NavajoWhite;
	margin: 5px;
	padding: 2px;
	padding-left: 5px;
}

.post-rating {
	font-family: "Trebuchet MS", monospace;
	font-size: 36pt;
	font-color: green;
}

a {
	color: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: Lavender;
}