{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %} Shedule {% endblock %}

{% block content %} 

<form method="get" class="form-inline">
	{% bootstrap_form_errors form %}
	{% bootstrap_form form %}
	<input class="btn btn-default btn-active" type="submit" value="Показать расписание!">
</form>

{% if object_list.count == 0 %}
	<div class="alert alert-danger fade in"> 
		<strong> У выбранной группы нет расписания. </strong>
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	</div> 
	
{% else %}

	<table class="table table-bordered">

		<thead>
			<tr class="info">
				<th width="3%">№</th>
				<th width="8%">Аудитория</th>
				<th width="40%">Предмет</th>
				<th width="20%">Преподаватель</th>
				<th> </th>
			</tr>
		</thead>

		<tbody>
			{% for day in days_of_week %}
				<tr> <td align="center"> <strong> {{ day }} </strong> </td> </tr>
				{% for lesson in object_list %}
					{% if lesson.day_of_week == day %}
						<tr class="success">
							<td align="center"> {{ lesson.lesson_number }} </td>
							<td align="center"> {{ lesson.room }} </td>
							<td> {{ lesson.lesson_title }} </td>
							<td> {{ lesson.teacher }} </td>
						</tr>
					{% endif %}
				{% endfor %}

			{% endfor %}
		</tbody>
	</table>

{% endif %}

{% endblock %}