{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %} Расписание {% endblock %}

{% block content %} 

<form method="get" class="form-inline">
	{% bootstrap_form_errors group_form %}
	{% bootstrap_form group_form %}
	<input class="btn btn-default btn-active" type="submit" value="Показать расписание!">
</form>

<a class="btn btn-xs btn-link" type="submit" href="?recently_changed=true">Недавно измененные</a>

{% if not object_list %}
	<div class="alert alert-danger fade in"> 
		<strong> У выбранной группы нет расписания. </strong>
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	</div> 
	
{% else %}
	<script src="{% static 'core/js/shedule.js' %}"></script>
	<ul class="nav nav-tabs">
		{% for day, day_name in weekdays.items %}
			<li class="{% if day == today %} active {% endif %}"> <a data-toggle="tab" href="#{{ day }}"> {{ day_name }} </a> </li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		{% for day, day_name in weekdays.items %}
			<div id="{{day}}" class="tab-pane fade {% if day == today %} in active {% endif %}">
				<div class="row">

					<div class="col-sm-9">
						<table class="table table-bordered">

							<thead>
								<tr class="info">
									<th width="20%" align="center">Время</th>
									<th width="10%">Аудитория</th>
									<th width="40%">Предмет</th>
									<th width="25%">Преподаватель</th>
									{% if user.is_staff %} <th width="5%">----</th> {% endif %}
								</tr>
							</thead>

							<tbody>
								{% for lesson in object_list %}
									{% if lesson.weekday == day %}
										<tr class="lesson success" data-lesson-id="{{lesson.id}}">
											<td align="center"> {{ rings | get_value_from_dict:lesson.time_interval }}</td>
											<td align="center"> {{ lesson.room | default_if_none:'' }} </td>
											<td> <a href="{{ lesson.subject.get_link }}"> {{ lesson.subject | default_if_none:'' }} </td>
											<td> <a href="{{ lesson.teacher.get_link }}"> {{ lesson.teacher | default_if_none:'' }}</a> </td>
											{% if user.is_staff %}
												<td>
													<button
															type="button"
															class="edit-lesson btn btn-xs btn-link"
															onclick="editLessonForm({{lesson.id}})">
														<span class="glyphicon glyphicon-pencil"></span>
													</button>
													<button
															type="button"
															class="delete-lesson btn btn-xs btn-link"
															onclick="deleteLesson({{lesson.id}})">
														<span class="glyphicon glyphicon-remove"></span>
													</button>
												</td>
												<div
														class="dialog"
														title="Редактируем предмет"
														data-lesson-id="{{lesson.id}}"
														data-weekday="{{day}}"
														data-group="{{group_form.group.value}}"
														hidden>

												</div>
											{% endif %}
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>

						</table>
					</div>
					<div class="col-sm-4"></div>

				</div>
			</div>
		{% endfor %}
	</div>

{% endif %}

{% endblock %}