{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="geoolekom">

    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title> {% block title %} {% endblock %} </title>

  </head>

  <body>

    <nav class="navbar navbar-inverse fixed-header">
      <table class="container-fluid" width=100%> <tr>
      <div class="container-fluid">
        <th class="navbar-brand" width=55%> <div class="navbar-header">
           <h1> <a href="{% url 'feed:feed' %}"><strong>DGAP SERVICE</strong></a> </h1>
        </div> </th>

        <th width=30%> <ul class="nav navbar-nav">
        {% include "core/menus.html" %}
        </ul> </th>
        
        {% include "core/user.html" %}

      </div>
      </tr> </table>
    </nav>

    <div class="content">
      
      {% block content %}
        <h1> No posts avaliable </h1>
      {% endblock %}

      <hr>

      <footer>
        <p>&copy; Yegor Komarov 2016</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
