{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="geoolekom">

    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title> {% block title %} {% endblock %} </title>
    <style>
        .affix + .container {
            padding-top: 71px;
        }
        .affix {
           padding-top: 0px;
        }
    </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="0">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'feed:feed' %}">
            <span class="glyphicon glyphicon-fire"></span>
            <strong> ФОПФ </strong>
          </a>
        </div>

        <ul class="nav navbar-nav">
          {% include "core/menus.html" %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% include "core/user.html" %}
        </ul>
      </div>
    </nav>



    <div class="container">

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">

          {% if errors %} <div class="alert alert-danger fade in">
              <strong> {{errors}} </strong>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
          {% endif %}

          {% block content %}
          {% endblock %}
        </div>
        <div class="col-sm-1"></div>
      </div>

      <hr>

      <footer>
        <p>&copy; Yegor Komarov 2016</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
