{% url 'feed:feed' as feed %}
{% url 'shedule:shedule' as shedule %}
{% url 'services:laundry' as laundry %}
{% url 'services:food' as food %}
{% url 'services:print' as print %}
{% url 'library:library' as library %}

<li class='{% if request.path == feed %}active{%endif%}'><a href='{{ feed }}'>Лента</a></li>
<li class='{% if request.path == shedule %}active{%endif%}'><a href='{{ shedule }}'>Расписание</a></li>
<li class='{% if request.path == library %}active{%endif%}'><a href='{{ library }}'>Бибилиотека</a></li>
<li class='{% if request.path == print %}active{%endif%}'><a href='{{ print }}'>Печать</a></li>
<li class='{% if request.path == laundry %}active{%endif%}'><a href='{{ laundry }}'>Прачечная</a></li>
<li class='{% if request.path == food %}active{%endif%}'><a href='{{ food }}'>Еда</a></li>
{% if user.is_staff %}
    <li><a href='/admin'>Админка</a></li>
    <li><a href='https://github.com/geoolekom/dgapservice'>Исходники</a></li>
{% endif %}