{% load bootstrap3 %}


{% if user.is_authenticated %}

  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <strong> {% if user.get_full_name %} {{user.get_full_name}} {%else%} {{user}} {% endif %} </strong>
          <span class="caret"></span>
      </a>
        <ul class="dropdown-menu list-group" role="menu">
            <li class="dropdown-header">Информация о пользователе</li>
            <li class="list-group-item">
                <p class="list-group-item-text" align="right">
                    {% if user.is_staff %} Администратор
                    {% else %} Студент
                    {% endif %}
                </p>
                <p class="list-group-item-text" align="right">
                    Группа {{user.group}}
                </p>
            </li>
            <li class="list-group-item">
                {% if user.avatar %} <img src="{{ user.avatar.url }}" border=2>
                {% endif %}
            </li>
            <li class="list-group-item">
                <a class="list-group-item-text" href="/logout/"  align="right">Выйти</a>
            </li>
        </ul>

  </li>

{% else %}

  <li>
    <form class="navbar-form pull-right form-inline" method="post"> {% csrf_token %}
        <a class="text-muted"> {{ errors }} </a>
        <input class="form-control" type="text" name="username" id="username" placeholder="Логин" size="14">
        <input class="form-control" type="password" name="password1" id="password1" placeholder="Пароль" size="14">

        <button type="submit" formaction="/login/" class="btn btn-link" name="sign"><span class="glyphicon glyphicon-log-in"></button>
        <button type="submit" formaction="/register/" class="btn btn-link" name="register"><span class="glyphicon glyphicon-user"></button>

    </form>
  </li>
  
{% endif %}