{% load bootstrap3 %}

{% if user.is_authenticated %}

  <li class="user-info" align="right">
    <p class="text-muted"> <strong>
        {% if user.get_full_name %} {{user.get_full_name}} {%else%} {{user}} {% endif %}
    </strong> </p>
    <p class="text-muted"> <strong>
        {% if user.is_staff %} администратор {% else %} пользователь {% endif %}
    </strong> </p>
  </li>
    <li> <img class="avatar" src="{{ user.avatar.url }}" border=2> </li>
  <li>
      <form class="navbar-form pull-right" action="/logout/">
          {% csrf_token %} <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-log-out"></button>
      </form>
  </li>


{% else %}

  <li>
    <form class="navbar-form pull-right form-inline" method="post"> {% csrf_token %}
        <a class="text-muted"> {{ errors }} </a>
        <input class="form-control" type="text" name="username" id="username" placeholder="Логин" size="14">
        <input class="form-control" type="password" name="password1" id="password1" placeholder="Пароль" size="14">

        <button type="submit" formaction="/login/" class="btn btn-link" name="sign"><span class="glyphicon glyphicon-log-in"></button>
        <button type="submit" formaction="/register/" class="btn btn-link" name="register"><span class="glyphicon glyphicon-user"></button>

    </form>
  </li>
  
{% endif %}