{% load bootstrap3 %}

{% if user.is_authenticated %}

  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <strong> {% if user.get_full_name %} {{user.get_full_name}} {%else%} {{user}} {% endif %} </strong>
          <span class="caret"></span>
      </a>
        <ul class="dropdown-menu list-group" role="menu">
            <li class="dropdown-header">Пользовательские данные</li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="list-group-item-text text-muted" align="left">
                            статус
                        </p>
                        <p class="list-group-item-text text-muted" align="left">
                            группа
                        </p>
                        <p class="list-group-item-text text-muted" align="left">
                            счет
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p class="list-group-item-text">
                            {% if user.is_staff %} Администратор
                            {% else %} студент
                            {% endif %}
                        </p>
                        <p class="list-group-item-text">
                            {% if user.group is None %} без группы
                            {% else %} {{user.group}}
                            {% endif %}
                        </p>
                        <p class="list-group-item-text">
                            {{ user.account.balance }}
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                {% if user.avatar %} <img src="{{ user.avatar.url }}" border=2>
                {% else %} Тут мог бы быть ваш аватар!
                {% endif %}
            </li>
            <li class="list-group-item">
                <a class="list-group-item-text" href="/logout/"  align="right">Выйти</a>
            </li>
        </ul>

  </li>

{% else %}

  <li>
    <form class="navbar-form pull-right form-inline" method="post"> {% csrf_token %}
        <input class="form-control" type="text" name="username" id="username" placeholder="Логин" size="14">
        <input class="form-control" type="password" name="password1" id="password1" placeholder="Пароль" size="14">

        <button type="submit" formaction="/login/" class="btn btn-link" name="sign"><span class="glyphicon glyphicon-log-in"></button>
        <button type="submit" formaction="/register/" class="btn btn-link" name="register"><span class="glyphicon glyphicon-user"></button>

    </form>
  </li>
  
{% endif %}