.fixed-header {
	padding: 10px;
	padding-left: 30px !important;
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: Coral;
	opacity: 0.7;

}

.content {
	padding-top: 150px;
	color: DimGray;
	padding-left: 20px;
	padding-right: 20px;
}

.brand {
	padding-right: 40px;
	font-family: "Trebuchet MS", monospace;
}

.header-menu {
	padding: 10px;
	margin-right: 10px;
	background-color: red;
}

.user-info {
	padding: 12px;
	background-color: Tomato;
}

.post {
	background-color: NavajoWhite;
	margin: 5px;
	padding: 2px;
	padding-left: 5px;
}

.post-rating {
	font-family: "Trebuchet MS", monospace;
	font-size: 42s;
	font-color: green;
}

a {
	color: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: Khaki;
}